*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    align-items: center;
    justify-content: center;
}

.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
}

.celular{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    width: 75%;
}

.celular img{
    height: 500px;
}

.infos{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
}

.continua{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.continua img{
    height: 80px;
}

.perfil img{
    height: 150px;
}

.login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;

}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.download{
}

.continue{

}

.remover{
    
}