.instagram{
    border: black 10px solid;
}

.celular{
    border: red 10px solid;
}

.infos{
    border: blue 10px solid;
}

.continua{
    border: green 10px solid;
}

.login{
    border: purple 10px solid;
}

.download{
    border: yellow 10px solid;
}

.continue{

}

.remover{
    
}